<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Times,serif;font-size:16.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:16.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Times,serif;font-size:9.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:9.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:10.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:10.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:9.8px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:8.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:8.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:8.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:8.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:9.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="149dabb0-fae8-11e9-9d71-0cc47a792c0a_id_149dabb0-fae8-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="149dabb0-fae8-11e9-9d71-0cc47a792c0a_id_149dabb0-fae8-11e9-9d71-0cc47a792c0a_files/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:374.25px;top:34.90px" class="cls_003"><span class="cls_003">PURCHASE ORDER</span></div>
<div style="position:absolute;left:330.90px;top:61.35px" class="cls_002"><span class="cls_002">PO No.</span></div>
<div style="position:absolute;left:404.40px;top:62.50px" class="cls_005"><span class="cls_005">2019/10/10/0010</span></div>
<div style="position:absolute;left:330.90px;top:79.35px" class="cls_002"><span class="cls_002">PO Date</span></div>
<div style="position:absolute;left:404.40px;top:79.80px" class="cls_005"><span class="cls_005">10-October-2019</span></div>
<div style="position:absolute;left:25.40px;top:87.55px" class="cls_002"><span class="cls_002">INTERCON PLAZA BLOK D. 11</span></div>
<div style="position:absolute;left:330.65px;top:96.35px" class="cls_002"><span class="cls_002">Term</span></div>
<div style="position:absolute;left:404.40px;top:96.25px" class="cls_005"><span class="cls_005">1 month</span></div>
<div style="position:absolute;left:25.40px;top:101.85px" class="cls_002"><span class="cls_002">JL. MERUYA ILIR, SRENGSENG-KEMBANGAN</span></div>
<div style="position:absolute;left:25.40px;top:115.35px" class="cls_002"><span class="cls_002">Phone</span></div>
<div style="position:absolute;left:57.90px;top:115.35px" class="cls_002"><span class="cls_002">(62-21)7587-9949/51</span></div>
<div style="position:absolute;left:211.65px;top:115.35px" class="cls_002"><span class="cls_002">Fax</span></div>
<div style="position:absolute;left:235.40px;top:115.35px" class="cls_002"><span class="cls_002">(62-21)7587-995</span></div>
<div style="position:absolute;left:331.65px;top:114.35px" class="cls_002"><span class="cls_002">Page No.</span></div>
<div style="position:absolute;left:413.20px;top:115.55px" class="cls_004"><span class="cls_004">1</span></div>
<div style="position:absolute;left:433.25px;top:115.90px" class="cls_004"><span class="cls_004">of</span></div>
<div style="position:absolute;left:457.70px;top:115.55px" class="cls_004"><span class="cls_004">1</span></div>
<div style="position:absolute;left:25.40px;top:130.90px" class="cls_004"><span class="cls_004">NPWP :  01.789.513.7-038.000</span></div>
<div style="position:absolute;left:31.48px;top:143.75px" class="cls_005"><span class="cls_005">VENDOR NAME</span></div>
<div style="position:absolute;left:325.56px;top:144.50px" class="cls_005"><span class="cls_005">SHIP TO</span></div>
<div style="position:absolute;left:29.40px;top:159.65px" class="cls_004"><span class="cls_004">SHIMABU MITRA PERKASA MAKMUR, PT</span></div>
<div style="position:absolute;left:325.90px;top:159.65px" class="cls_004"><span class="cls_004">PT. GRAHASUMBER PRIMA ELEKTRONIK</span></div>
<div style="position:absolute;left:29.40px;top:171.85px" class="cls_002"><span class="cls_002">JL.CEMPAKA PUTIH TIMUR XXIV A, NO.9</span></div>
<div style="position:absolute;left:325.90px;top:171.85px" class="cls_002"><span class="cls_002">INTERCON PLAZA BLOK D.11</span></div>
<div style="position:absolute;left:29.40px;top:184.85px" class="cls_002"><span class="cls_002">JAKARTA</span></div>
<div style="position:absolute;left:325.90px;top:184.85px" class="cls_002"><span class="cls_002">JL. MERUYA ILIR,  SRENGSENG-KEMBANGAN</span></div>
<div style="position:absolute;left:325.90px;top:197.85px" class="cls_002"><span class="cls_002">JAKARTA BARAT</span></div>
<div style="position:absolute;left:29.90px;top:210.85px" class="cls_002"><span class="cls_002">Phone</span></div>
<div style="position:absolute;left:71.90px;top:210.60px" class="cls_002"><span class="cls_002">(0)4244409</span></div>
<div style="position:absolute;left:163.40px;top:210.85px" class="cls_002"><span class="cls_002">Fax</span></div>
<div style="position:absolute;left:190.90px;top:210.85px" class="cls_002"><span class="cls_002">(0)4262315</span></div>
<div style="position:absolute;left:325.90px;top:210.85px" class="cls_002"><span class="cls_002">Phone</span></div>
<div style="position:absolute;left:368.15px;top:210.85px" class="cls_002"><span class="cls_002">(021)5868521/22</span></div>
<div style="position:absolute;left:459.65px;top:210.85px" class="cls_002"><span class="cls_002">Fax</span></div>
<div style="position:absolute;left:486.90px;top:210.85px" class="cls_002"><span class="cls_002">(021)5853317</span></div>
<div style="position:absolute;left:29.65px;top:224.40px" class="cls_004"><span class="cls_004">Contact Name :</span></div>
<div style="position:absolute;left:103.40px;top:224.40px" class="cls_004"><span class="cls_004">HARNIS ZAINI</span></div>
<div style="position:absolute;left:325.90px;top:224.40px" class="cls_004"><span class="cls_004">Contact Name :</span></div>
<div style="position:absolute;left:402.15px;top:224.40px" class="cls_004"><span class="cls_004">OLIN</span></div>
<div style="position:absolute;left:26.55px;top:255.70px" class="cls_006"><span class="cls_006">No</span></div>
<div style="position:absolute;left:116.85px;top:254.95px" class="cls_006"><span class="cls_006">Part #</span></div>
<div style="position:absolute;left:173.50px;top:255.70px" class="cls_006"><span class="cls_006">Mfr</span></div>
<div style="position:absolute;left:235.40px;top:255.95px" class="cls_006"><span class="cls_006">Description</span></div>
<div style="position:absolute;left:349.05px;top:255.95px" class="cls_006"><span class="cls_006">Qty</span></div>
<div style="position:absolute;left:424.75px;top:255.70px" class="cls_006"><span class="cls_006">Price</span></div>
<div style="position:absolute;left:511.40px;top:255.70px" class="cls_006"><span class="cls_006">Line Total</span></div>
<div style="position:absolute;left:64.80px;top:257.45px" class="cls_006"><span class="cls_006">PR#</span></div>
<div style="position:absolute;left:29.15px;top:272.85px" class="cls_007"><span class="cls_007">1</span></div>
<div style="position:absolute;left:46.65px;top:273.60px" class="cls_007"><span class="cls_007">BSDA-004</span></div>
<div style="position:absolute;left:96.90px;top:272.20px" class="cls_007"><span class="cls_007">207020099</span></div>
<div style="position:absolute;left:157.90px;top:272.95px" class="cls_007"><span class="cls_007">FUJI</span></div>
<div style="position:absolute;left:201.65px;top:273.20px" class="cls_007"><span class="cls_007">BHLS-3B3101-110L1-</span></div>
<div style="position:absolute;left:355.10px;top:273.20px" class="cls_007"><span class="cls_007">16.00 EA</span></div>
<div style="position:absolute;left:422.85px;top:273.45px" class="cls_007"><span class="cls_007">1,410,665.45</span></div>
<div style="position:absolute;left:472.90px;top:273.20px" class="cls_007"><span class="cls_007">RP</span></div>
<div style="position:absolute;left:528.10px;top:273.45px" class="cls_007"><span class="cls_007">22,570,647.20</span></div>
<div style="position:absolute;left:46.65px;top:285.40px" class="cls_007"><span class="cls_007">998</span></div>
<div style="position:absolute;left:201.65px;top:285.00px" class="cls_007"><span class="cls_007">W-Z-B;</span></div>
<div style="position:absolute;left:201.65px;top:296.80px" class="cls_007"><span class="cls_007">DISCREPANCY</span></div>
<div style="position:absolute;left:201.65px;top:308.60px" class="cls_007"><span class="cls_007">SWITCH 6 CONTACT</span></div>
<div style="position:absolute;left:201.65px;top:320.40px" class="cls_007"><span class="cls_007">(3 UNIT) 110VDC</span></div>
<div style="position:absolute;left:201.65px;top:332.20px" class="cls_007"><span class="cls_007">ROUND</span></div>
<div style="position:absolute;left:29.15px;top:346.65px" class="cls_007"><span class="cls_007">2</span></div>
<div style="position:absolute;left:46.65px;top:347.40px" class="cls_007"><span class="cls_007">BSDA-004</span></div>
<div style="position:absolute;left:96.90px;top:346.00px" class="cls_007"><span class="cls_007">207020098</span></div>
<div style="position:absolute;left:157.90px;top:346.75px" class="cls_007"><span class="cls_007">FUJI</span></div>
<div style="position:absolute;left:201.65px;top:347.00px" class="cls_007"><span class="cls_007">BHLS-3B4101-110L1-</span></div>
<div style="position:absolute;left:359.60px;top:347.00px" class="cls_007"><span class="cls_007">7.00 EA</span></div>
<div style="position:absolute;left:422.85px;top:347.25px" class="cls_007"><span class="cls_007">1,549,285.65</span></div>
<div style="position:absolute;left:472.90px;top:347.00px" class="cls_007"><span class="cls_007">RP</span></div>
<div style="position:absolute;left:528.10px;top:347.25px" class="cls_007"><span class="cls_007">10,844,999.55</span></div>
<div style="position:absolute;left:46.65px;top:359.20px" class="cls_007"><span class="cls_007">998</span></div>
<div style="position:absolute;left:201.65px;top:358.80px" class="cls_007"><span class="cls_007">W-Y-B;</span></div>
<div style="position:absolute;left:201.65px;top:370.60px" class="cls_007"><span class="cls_007">DISCREPANCY</span></div>
<div style="position:absolute;left:201.65px;top:382.40px" class="cls_007"><span class="cls_007">SWITCH 8 CONTACT</span></div>
<div style="position:absolute;left:201.65px;top:394.20px" class="cls_007"><span class="cls_007">(4 UNIT) 110VDC</span></div>
<div style="position:absolute;left:201.65px;top:406.00px" class="cls_007"><span class="cls_007">SQUARE</span></div>
<div style="position:absolute;left:345.30px;top:673.50px" class="cls_006"><span class="cls_006">Total Net Value Excl. Tax</span></div>
<div style="position:absolute;left:473.40px;top:673.65px" class="cls_007"><span class="cls_007">RP</span></div>
<div style="position:absolute;left:530.35px;top:673.15px" class="cls_007"><span class="cls_007">33,415,646.75</span></div>
<div style="position:absolute;left:36.90px;top:675.15px" class="cls_008"><span class="cls_008">Note :</span></div>
<div style="position:absolute;left:36.90px;top:686.95px" class="cls_008"><span class="cls_008">Please write our P.O. Number  on all correspondences. Please sign</span></div>
<div style="position:absolute;left:36.90px;top:698.75px" class="cls_008"><span class="cls_008">and</span></div>
<div style="position:absolute;left:64.40px;top:713.15px" class="cls_006"><span class="cls_006">PREPARED BY :</span></div>
<div style="position:absolute;left:224.70px;top:713.15px" class="cls_006"><span class="cls_006">APPROVED BY :</span></div>
<div style="position:absolute;left:499.65px;top:755.25px" class="cls_008"><span class="cls_008">QF-PUR-0001 Rev 01</span></div>
</div>

</body>
</html>
